body {
  font-family: 'Arial', sans-serif;
  background-color: #264653;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.signup-container {
  background-color: #2a9d8f;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

.signup-title {
  color: #e9c46a;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.signup-error-message {
  background-color: #e76f51;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.signup-input-field input {
  width: 330px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #f4a261;
  border-radius: 5px;
  background-color: #e9c46a;
  color: #264653;
  font-size: 16px;
}

.signup-input-field input:focus {
  outline: none;
  border-color: #e76f51;
} */

.signup-register-button {
  width: 100%;
  padding: 10px;
  background-color: #f4a261;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
}

.signup-register-button:hover {
  background-color: #e76f51;
}

.signup-register-button:active {
  background-color: #264653;
}

#login-link {
  color: #e9c46a;
  margin-top: 10px;
  font-weight: bold;
}

#login-link button {
  background: none;
  border: none;
  color: #f4a261;
  font-size: 14px;
  cursor: pointer;
}

#login-link button:hover {
  text-decoration: underline;
}